.ti{
    color:orangered;
}
.bi{
    color:white;
}
body{
    background:green;

}
.b{
    background: green;
}
.mi{
    font-family:cursive; 
}
.mk{
    position: absolute;
    left: 550px;
    top:550px;

}

